{% extends "base.html" %}

{% block content %}
<h3>{{action}} layer</h3>

<form method="POST" enctype="multipart/form-data">

  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" name="title" id="title" value="{{layer.title}}" class="form-control"/>
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea name="description" id="description" class="form-control">{{layer.description}}</textarea>
  </div>

  <div class="form-group">
    <label for="groupFilter">Contact Group Filter</label>
    <input type="text" name="groupFilter" id="groupFilter" value="{{layer.groupFilter}}" class="form-control"/>
  </div>

  <div class="form-group">
    <label for="stateFilter">State Filter</label>
    <input type="text" name="stateFilter" id="stateFilter" value="{{layer.stateFilter}}" class="form-control"/>
  </div>

  <div class="form-group hidden">
    <label for="createdBy">Created by</label>
    <input type="text" name="createdBy" id="createdBy" value="{{layer.createdBy}}" class="form-control"/>
  </div>

  <div class="form-group hidden">
    <label for="createdById">Created by ID</label>
    <input type="text" name="createdById" id="createdById" value="{{layer.createdById}}" class="form-control"/>
  </div>

  <button type="submit" class="btn btn-success">Save</button>
</form>

{% endblock %}
